  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="Group_2_1.png" />
    <link rel="stylesheet" href="result.css" />
    <title>GoGoGo</title>
  </head>
  <body>
    <main>
      <div class="Decor">
        <a href="Index.html"><img class="Logo" src="Group_2_1.png" /></a>
      </div>
      <div class="ResultCol">
        <input
          type="text"
          name="searchfield"
          id="searchfield"
          value="<% for(i in results.keys) { %><%= results.keys[i] %> <% } %>"
          disabled
        />
        <% for(i in results.urls) { %>
        <div class="aResult">
            <a href="<%= results.urls[i].URL %>"><div class="URL"><%= results.urls[i].URL %></div>
            <div class="Title"><%= results.urls[i].Title %></div></a>
            <div class="Desc"><%= results.urls[i].Description %></div>
        </div>
        <% } %>
      </div>
      <div class="Stats">Number of Results: <%= results.size %></div>
    </main>
  </body>
